<!DOCTYPE html>
<html lang="en">
<div class="border-end bg-white" id="sidebar-wrapper" th:fragment="sidebar">
    <div class="sidebar-heading border-bottom bg-light">Board</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/boardweb/list}">게시판</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/boardweb/register}">게시글 작성</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Overview</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Events</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>
      <a th:if="${isAdmin}" class="list-group-item list-group-item-action list-group-item-light p-3" 
      th:href="@{/admin/dashboard}">관리자 페이지</a>
    </div>
</div>

</html>