<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="title">
    <title>상세목록</title>
</th:block>
<div layout:fragment="content">
    <!--본문-->
    <h3>Book Read</h3>
    <form th:object="${dto}">
        <div class="mb-3">
            <label for="code" class="form-label">Code</label>
            <input type="text" class="form-control" th:field="*{code}" readonly>
        </div>
        <div class="mb-3">
            <label for="Title" class="form-label">Title</label>
            <input type="text" class="form-control" th:field="*{title}" readonly>
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Author</label>
            <input type="text" class="form-control" th:field="*{author}" readonly>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="text" class="form-control" th:field="*{price}" readonly>
        </div>

        <a th:href="@{/book/modify(code=${dto.code},page=${pageRequestDTO.Page},size=${pageRequestDTO.size},type=${pageRequestDTO.type},keyword=${pageRequestDTO.keyword})}"
            class="btn btn-primary">수정</a>
        <a th:href="@{/book/list(page=${pageRequestDTO.Page},size=${pageRequestDTO.size},type=${pageRequestDTO.type},keyword=${pageRequestDTO.keyword})}"
            class="btn btn-success">목록</a>
    </form>
</div>
<th:block layout:fragment="script"></th:block>

</html>