<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>info</h1>
    <form action="" method="post">
        <input type="text" name="num1" id="num1" size="5">
        +
        <input type="text" name="num2" id="num2" size="5">
        <button type="submit">덧셈</button>
    </form>
    <!-- model 활용 사용자 입력값 화면에 보여주는 방법 ${입력값변수}-->
    <div id="num1" th:text="${num1}"></div>+
    <div id="num2" th:text="${num2}"></div>=
    <div id="result" th:text="${result}"></div>
    <h3 th:text="${session.name1}"></h3>



</body>

</html>